<a href="https://colab.research.google.com/github/yashvardhan5/python-day1-2/blob/Day3/Python_Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello yash")

hello yash

In [ ]:
#loops=> repetative karwana
print("hey")
print("hey")
print("hey")
print("hey")

hey

In [ ]:
#for loop
#while loop
#for(i=o;i<10;i++)
'''
i=0
while(i<10)
'''

In [ ]:
#for(i=o;i<10;i++) => range()
for x in range(1,4):
  print("hey")

hey
hey
hey

In [ ]:
#for(i=o;i<10;i++) => range()
for x in range(4):
  print("hey")

hey
hey
hey
hey

In [ ]:
#for(i=o;i<10;i++) => range()
for x in range(2,4,2):
  print("hey")

hey

In [ ]:
  total=0
for x in range(1,10):
   total +=x
print(total)

45

In [ ]:
for x in range(3,18):
  if(x%2==0):
    print(x)

4
6
8
10
12
14
16

In [10]:
total = 1
for x in range(98,2,-1):
  if(x%5==0):
    print(x)
    total = total * x
print(total )

95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
2320196159531250000000000000000

In [ ]:
#loop string data
for x in "hey":
  print(x)

h
e
y

In [ ]:
data ="hey"
for i in range(0,3):
  print(i, data, data[i])

0 hey h
1 hey e
2 hey y

In [ ]:
data= "hello hey"
for i in range(0, len(data)):
  print(i, data[i])

0 h
1 e
2 l
3 l
4 o
5
6 h
7 e
8 y

In [ ]:
data= "hello hey"
for i in range(0, len(data),2):
      print(i, data[i])

0 h
2 l
4 o
6 h
8 y

In [ ]:
#total product
total = 1
for x in range(15,100):
  if(x%2==0 and x%3==0):
    print(x)
    total = total*x
print(total)

18
24
30
36
42
48
54
60
66
72
78
84
90
96
819798470064680730624000

In [ ]:
data= "ALPHABET I LOVE YOU"
for i in data:
  print(i)
  if i in ("a","e","i","o","u"):
    if i in("a"):
      a +=1
    if i in("e"):
      e +=1
    if i in("i"):
      i +=1

    if i in("o"):
      o +=1
    if i in("u"):
      u +=1
print(f"it has all vowel{i}")

A
L
P
H
A
B
E
T

I

L
O
V
E

Y
O
U
it has all vowelU

In [72]:
data= "aleistosus"
vowels = set('a','e','i','o','u')
found_vowels = set()
for char in data:
      if char in vowels:
         found_vowels.add(char)
         if len(found_vowels)==5:
           break
if len(found_vowels)==5:
  return true
else:
      return false

TypeError: set expected at most 1 argument, got 5

In [ ]:
for i in range(1,5):
  print("hello", i)
  for j in range(1,3):
    print("regex")

hello 1
regex
regex
hello 2
regex
regex
hello 3
regex
regex
hello 4
regex
regex

In [ ]:
for i in range(1,3):

  for j in range(1,5):
    print("regex",i,j)

regex 1 1
regex 1 2
regex 1 3
regex 1 4
regex 2 1
regex 2 2
regex 2 3
regex 2 4

In [ ]:
for i in range(1,3):

  for j in range(1,5):
    print("*",end=" ")

* * * * * * * *

In [ ]:
for i in range(1,3):

  for j in range(1,5):
    print("*",end=" ")
  print("")

* * * *
* * * *

In [ ]:
for i in range(1,4):

  for j in range(1,6):
    print("*",end=" ")
  print("")

* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(1,4):

  for j in range(6,2,-1):
    print(j,end=" ")
  print("")

6 5 4 3
6 5 4 3
6 5 4 3

In [ ]:
x =10
for i in range(1,5):

  for j in range(6,1,-1):
     print(x,end=" ")
     x = x+1
  print()

10 11 12 13 14
15 16 17 18 19
20 21 22 23 24
25 26 27 28 29

In [ ]:
for i in range(1,5):
  for j in range(1,6):
    print("*",end = " ")
  print("")

* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#Q3
for i in range(1,5):
  for j in range(5,i,-1):
    print("*",end = " ")
  print("")

* * * *
* * *
* *
*

In [ ]:
#Q2
for i in range(1,6):
  for j in range(0,i):
    print(i,end = " ")
  print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#Q5
for i in range(1,6):
  for j in range(5,i,-1):
    print(i,end = " ")
  print("")

1 1 1 1
2 2 2
3 3
4

In [73]:
#Q1
for i in range(1,5):
  for j in range(0,i):
    print("*",end = " ")
  print("")

*
* *
* * *
* * * *

In [90]:
#Q4
for i in range(5,0,-1):
  for j in range(5,i,-1):
    print(i,end=" ")
  print(" ")

4
3 3
2 2 2
1 1 1 1

In [103]:
#Q5
for i in range(1,5):
  for j in range(5,i,-1):
    print(i,end=" ")
  print("")

1 1 1 1
2 2 2
3 3
4

In [112]:
#Q6
total=10
for i in range(1,5):
  for j in range(5,i,-1):
    print(total,end= " ")
  total +=1
  print("")

10 10 10 10
11 11 11
12 12
13