<a href="https://colab.research.google.com/github/yashvardhan5/python-day1-2/blob/DAY-4/python_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(1,4):
  for j in range(i,3):
    print("$",end= " ")

  for k in range(1,i+1):
    print("*",end=" ")
  print(" ")

$ $ *
$ * *
* * *

In [2]:
for i in range(1,5):
  for j in range(1,i):
    print("$",end= " ")
  print(" ")

$
$ $
$ $ $

In [3]:
for i in range(1,5):
  for j in range(1,i):
    print("$",end= " ")

  for k in range(i,5):
    print("*",end=" ")
  print(" ")

* * * *
$ * * *
$ $ * *
$ $ $ *

In [5]:
#pyramid pattern
for i in range(1,7):
  for j in range(i,7):
    print(" ",end= " ")

  for k in range(1,2*i):
    print("*",end=" ")
  print(" ")

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *

In [7]:
#list: data structue ehich stores datatypes
#collection of multiple element of multiple datatypes
#sequence=>they ,maintain order
#they are mutuable data type, index position
x=[]
print(type(x))

<class 'list'>

In [8]:
mylist=[10,20,30.0,"hey",10.0]
print(type(mylist))

<class 'list'>

In [9]:
mylist=[10,20,30.0,"hey",10.0]
print(mylist[-2])

hey

In [11]:
#updation of list
mylist=[10,20,30.0,"hey",10.0]
mylist[0]=99
print(mylist)

[99, 20, 30.0, 'hey', 10.0]

In [12]:
#insertion
mylist=[10,20,30.0,"hey",10.0]
mylist.append(88)
print(mylist)

[10, 20, 30.0, 'hey', 10.0, 88]

In [13]:
#insertion of list
mylist=[10,20,30.0,"hey",10.0]
mylist.extend([5,6,7,8])
print(mylist)

[10, 20, 30.0, 'hey', 10.0, 5, 6, 7, 8]

In [14]:
#delete=>pop is used to delte
mylist=[10,20,30.0,"hey",10.0]
mylist.pop(0)
print(mylist)

[20, 30.0, 'hey', 10.0]

In [15]:
mylist=[10,20,30.0,"hey",10.0]
out= mylist.pop(-2)
print("out:",out)
print(mylist)

out: hey
[10, 20, 30.0, 10.0]

In [16]:
#help is used to give the documentation
help(mylist)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [19]:
for i in [10,20,30,"hey"]:
  print(i)

10
20
30
hey

In [32]:
#take a list and if the value is integer and divided by 2 add it to new list else leave
mylist = [1,2,3,4,"hey",5,"hi",6,7]
newlist =[]
for i in [mylist]:
  if(type(mylist)==int):
   newlist.append(i)
  print(newlist)

[]

In [30]:
#tuple immutalbe
mytuple=10,20,"hey"
print(type(mytuple))

<class 'tuple'>

In [31]:
mytuple=(10,20,"hey")
print(type(mytuple))

<class 'tuple'>

In [33]:
mytuple[-1]

'hey'

In [39]:
#dictionary is a combination of key:value
#key is identifier and value is data
#dictioary is mutuable and ordered
mydictionary={1:"yash",2:"aman",3:"aditiya"}
mydictionary

{1: 'yash', 2: 'aman', 3: 'aditiya'}

In [40]:
#no index position but can be accessed by a key
#key should be immutable but values can be both mutuable and immutable
#if key is not present the value will be added

mydictionary[1]

'yash'

In [42]:
mydictionary={1:"yash",2:"aman",3:"aditiya"}
mydictionary[1]= 2
mydictionary

{1: 2, 2: 'aman', 3: 'aditiya'}

In [43]:
mydictionary={1:"yash",2:"aman",3:"aditiya"}
mydictionary[10]= "pareek"
mydictionary

{1: 'yash', 2: 'aman', 3: 'aditiya', 10: 'pareek'}

In [44]:
#to delete
mydictionary={1:"yash",2:"aman",3:"aditiya"}
mydictionary.pop(2)
mydictionary

{1: 'yash', 3: 'aditiya'}

In [48]:
#to chceck the key and value of a dicitionary
mydictionary= {1:"yash","name": "aman",33:"aditiya"}
mydictionary.keys()
mydictionary.values()

dict_values(['yash', 'aman', 'aditiya'])

In [50]:
#items is used check both value and key
mydictionary= {1:"yash","name": "aman",33:"aditiya"}
mydictionary.items()

dict_items([(1, 'yash'), ('name', 'aman'), (33, 'aditiya')])

In [51]:
#iterable values are those on which loop can be made
mydictionary= {1:"yash","name": "aman",33:"aditiya"}
for x in mydictionary:
  print(x,mydictionary[x])

1 yash
name aman
33 aditiya

In [52]:
mydictionary= {1:"yash","name": "aman",33:"aditiya"}
for x in mydictionary.values():
  print(x)

yash
aman
aditiya

In [56]:
#Q run a loop in data and find the character in form of dictionary
total = 0
for i in "hello12":
  total +=1
  print(total)

1
2
3
4
5
6
7

In [57]:
mydictionary={"total":0}
for x in "hello12":
  mydictionary["total"]= mydictionary["total"]+1

print(mydictionary)

{'total': 7}

In [64]:
#"hey tushar hello"
#{"e":2, "u":1, "o":1}
tvowels= {"e":0,"u":0,"o":0}
for i in "hey tushar hello":
  if i in("e","u","o"):
    if (i == "e"):
      tvowels['e'] +=1
    if (i == "u"):
      tvowels['u'] +=1
    if (i == "o"):
      tvowels['o'] +=1



print(tvowels)

{'e': 2, 'u': 1, 'o': 1}

In [83]:
#Assignment Q1:
for i in range(1,4):
  for j in range(i,3):
      print(" ",end=" ")
  for k in range(1,2*i):
      print(i+9,end=" ")


  print()

    10
  11 11 11
12 12 12 12 12

In [87]:

for i in range(1,4):
  for j in range(i,3):
      print(" ",end=" ")
  for k in range(1,2*i):
      print("*",end=" ")


  print()

    *
  * * *
* * * * *

In [92]:
for i in range(1,5):
  for j in range(i,4):
      print(" ",end=" ")
  for k in range(0,i):
      print("*",end=" ")
  print()

      *
    * *
  * * *
* * * *

In [104]:
for i in range(1,6):
  for j in range(1,i):
      print("*",end=" ")
  for k in range(i,4):
    print(" ",end=" ")
  print()

*
* *
* * *
* * * *