<a href="https://colab.research.google.com/github/yashvardhan5/python-day1-2/blob/DAY-5/Python_Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#SET=> used to collect multiple data element
#these data are unique
#set are unordered
#no index
myset={}
type(myset)
#gives a dictionary value when empty

dict

In [ ]:
myset={10,20,30,"hey"}
print(type(myset))

<class 'set'>

In [ ]:
myset={10,20,30,"hey",10,10,99}
print(type(myset),myset)
#no duplicate value

<class 'set'> {99, 20, 'hey', 10, 30}

In [ ]:
myset={10,20,30,"hey",10,10,99}
print(myset[0])
#no index value

TypeError: 'set' object is not subscriptable

In [ ]:
#to add element in a set
myset={10,20,30,"hey",10,10,99}
myset.add(88)
print(myset)

{99, 20, 'hey', 10, 88, 30}

In [ ]:
#to delete a element in set
myset={10,20,30,"hey",10,10,99}
myset.remove(20)
print(myset)

In [ ]:
#to delete a element in set(discard)
myset={10,20,30,"hey",10,10,99}
myset.discard(20)
print(myset)
myset.discard(20)

{99, 'hey', 10, 30}

In [ ]:
#for union
#to delete a element in set
myset={10,20,30,"hey",10,10,99}
mysetb={20,40,55,65}
myset.union(mysetb)

{10, 20, 30, 40, 55, 65, 99, 'hey'}

In [ ]:
#FUNCTIONS=> block of code which performs a functionality/task
#in language we write'''
#    void/int main(){
#    statement
#      } in python we write
# def=> define function
def msg():
  print("hello yash")

In [ ]:
msg()
msg()
msg()
msg()

hello yash
hello yash
hello yash
hello yash

In [ ]:
def msg(x):
  print("hello yash")
msg(10)

hello yash

In [ ]:
#the x here is called the parameter
def msg(x):
  print("hello user",x)

hello user yash

In [ ]:
#the value such as yash tushar are the arguments
msg("yash")
msg("tushar")

In [ ]:
def sumfunc(x,y):
  print(x+y)
sumfunc(10,20)

30

In [ ]:
def sumfunc(x,y):
  print(x+y)
sumfunc(10,20)
sumfunc(30,40)

30
70

In [ ]:
def func(X1):
  print("X1: ",X1)
func(10)

X1:  10

In [ ]:
def func(X1):
  print("X1: ",X1)
func(10)
print(X1)
#will not run bcz its a local variable the x1 is declared inside the function

X1:  10

NameError: name 'X1' is not defined

In [ ]:
def func(X1):
  print("X1: ",X1)
#outside the function => x2 is a global variable
X2=99

func(X2)

X1:  99

In [ ]:
#this will change the value in the function only to 10000 not on the outside value
#if we work on an integer,tuple or etc it will always make a new memory due to which it is called immutalbe
def func(X2):
  X2=10000
  print("Inside: ",X2)

X2=99

func(X2)
print("outside: ",X2)

Inside:  10000
outside:  99

In [ ]:
def func(x):
  print("inside: ",x,id(x))
  #----------
x1=10
print("outside: ", x1,id(x1))
func(x1)

outside:  10 137231536488976
inside:  10 137231536488976

In [ ]:
def func(x):
  print("inside: ",x,id(x))
  x=1000
  print("changeinside: ",x,id(x))
  #----------
x1=10
print("outside: ", x1,id(x1))
func(x1)

outside:  10 137231536488976
inside:  10 137231536488976
changeinside:  1000 137230253547216

In [ ]:
#required argument=> equal no of values should be given to no of variables
def employee(eid,ename):
  print(f"eid:{eid} ename:{ename}")

employee(10,"yash")

eid:10 ename:yash

In [ ]:
#position argument=>the values will be provided according to position
def employee(eid,ename):
  print(f"eid:{eid} ename:{ename}")

employee("yash",20)

eid:yash ename:20

In [ ]:
#keyword argument
def employee(eid,ename):
  print(f"eid:{eid} ename:{ename}")

employee(eid="10",ename="yash")

eid:10 ename:yash

In [ ]:
#variable length argument=> used to run a program without giving values/argument or giving n number of values
def employee( *detail):
  print(detail)
employee()

()

In [ ]:
def employee( eid, *detail):
  print(eid, detail)
employee(10,20,30)
employee()

10 (20, 30)

TypeError: employee() missing 1 required positional argument: 'eid'

In [ ]:
#lambda fnction
#announums function
#synatx=> lambda parameter : expression
#regex is used to store the lambda function
regex = lambda x: x*x
regex(4)

16

In [ ]:
#map , filter
def square(num):
  return num**2

square(9)

81

In [ ]:
#map=> is used to provide function to all the elements
def square(num):
  return num**2
mylist= [10,20,30,40]
list(map(square,mylist))

[100, 400, 900, 1600]

In [ ]:
#we replaced the square with lambda to ease the syntax
#lambda synatx=> lambda parameter : argumnet/expression/the task which need to be performed
list(map(lambda num: num**2,mylist))

[100, 400, 900, 1600]

In [ ]:
#Assignment
#Q1:swap two number
a=10
b=5
a,b=b,a
print("a: ",a)
print("b: ",b)

a:  5
b:  10

In [ ]:
a=10
b=20
a=a+b
b=a-b
a=a-b
print("a: ",a)
print("b: ",b)

a:  20
b:  10

In [ ]:
#Q2 reverse
def reverse_number(num):
  reverse_digit=[]
  while num>0:
    digit= num%10
    reverse_digit.append(digit)
    num //=10
  return reverse_digit

number =274532
result =reverse_number(number)
print(result)

[2, 3, 5, 4, 7, 2]

In [ ]:
a=12345
stra= str(a)
for i in reversed(stra):
  print(i,end=" ")

5 4 3 2 1

In [ ]:

def three_digit_number(num):
  if 100<= num <=999:
    hundreds= num//10
    tens = (num%100)//10
    ones= num % 10
    digit_sum = hundreds + tens + ones

    return digit_sum
  else:
    return ("enter a three digit number")
number = int(input("enter the number: "))
result= three_digit_number(number)
print(result)

enter the number: a =1

ValueError: invalid literal for int() with base 10: 'a =1'

In [ ]:
#Q3:sum of three digits
sum =0
a = str(input('enter no.'))
if (len(a)>3):
  print("invalid")
else:
  for i in a:
    sum += int(i)
  print(sum)

enter no.585
18

In [ ]:
#Q4:

def main():
  input_str = input("enter a three digit number: ")
  if len(input_str)! = 3:
    print("Enter a valid number")
  return

digits= [int(char)for char in input_str]
square_sum= sum(digits**2 for digits in digits)
print(square_sum)

SyntaxError: invalid syntax (<ipython-input-111-8052d83f87ce>, line 5)